{% extends 'base.html.twig' %}

{% block title %}Vite & Gourmand - Traiteur a Bordeaux{% endblock %}

{% block body %}
<div class="text-center py-5">
    <h1>Vite & Gourmand</h1>
    <p class="lead text-muted">Traiteur evenementiel a Bordeaux depuis 1999</p>
    <a href="#" class="btn btn-dark mt-3">Decouvrir nos menus</a>
</div>
{% endblock %}
